Source: pothos-comms
Section: science
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.9),
    libpothos-dev,
    libspuce-dev
Standards-Version: 3.9.6
Homepage: https://github.com/pothosware/pothos-comms/wiki
Vcs-Git: https://github.com/pothosware/pothos-comms.git
Vcs-Browser: https://github.com/pothosware/pothos-comms

Package: pothos-comms
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: communications blocks
 The Pothos data-flow software suite.
